@import "~bootstrap/scss/bootstrap.scss";

html, body, #react-root, .container, .container>.row {
  min-height: 100vh;
}

%caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: .255em;
  vertical-align: .255em;
  border-right: .3em solid transparent;
  border-left: .3em solid transparent;
}

.caret-up {
  @extend %caret;
  border-bottom: .3em solid;
  border-top: 0;
}

.caret-down {
  @extend %caret;
  border-top: .3em solid;
  border-bottom: 0;
}
