@import "~bootstrap/scss/bootstrap.scss";

html, body {
  cursor: auto;
}

html, body, #react-root, .container {
  min-height: 100vh;
}

.main {
  min-height: calc(100vh - 70px);
  .main-column {
    padding-top: 2vh;
  }
}

%caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: .255em;
  vertical-align: .255em;
  border-right: .3em solid transparent;
  border-left: .3em solid transparent;
}

.caret-up {
  @extend %caret;
  border-bottom: .3em solid;
  border-top: 0;
}

.caret-down {
  @extend %caret;
  border-top: .3em solid;
  border-bottom: 0;
}

abbr {
  cursor: text !important;
  text-decoration: none !important;
}

legend.col-form-label {
  border-bottom: solid 1px #ccc;
  margin-bottom: 0.3rem;
  padding-bottom: 0;
  padding-left: 2px;
  margin-top: 0;
  padding-top: 0;
}

.form-group {
  margin-bottom: 0.3rem;
  font-size: 0.9rem;

  &:last-child {
    margin-bottom: 0;
  }
}

.form-control {
  font-size: 0.9rem;
  height: calc(2rem + 2px);
}

.graph-tab {
  height: calc(100% - 42px)
}